@page
<div id="content">
    <div id="content-inner">
        <div id="piano">
            <div class="keys">
                <div class="key" data-key="48" data-note="C3"></div>
                <div class="key black black1" data-key="49" data-note="C#3" style=""></div>
                <div class="key" data-key="50" data-note="D3"></div>
                <div class="key black black3" data-key="51" data-note="D#3" style=""></div>
                <div class="key" data-key="52" data-note="E3"></div>
                <div class="key" data-key="53" data-note="F3"></div>
                <div class="key black black1" data-key="54" data-note="F#3"></div>
                <div class="key" data-key="55" data-note="G3"></div>
                <div class="key black black2" data-key="56" data-note="G#3" style=""></div>
                <div class="key" data-key="57" data-note="A3"></div>
                <div class="key black black3" data-key="58" data-note="A#3" style=""></div>
                <div class="key" data-key="59" data-note="B3"></div>
                <div class="key" data-key="60" data-note="C4"></div>
                <div class="key black black1" data-key="61" data-note="C#4" style=""></div>
                <div class="key" data-key="62" data-note="D4"></div>
                <div class="key black black3" data-key="63" data-note="D#4" style=""></div>
                <div class="key" data-key="64" data-note="E4"></div>
                <div class="key" data-key="65" data-note="F4"></div>
                <div class="key black black1" data-key="66" data-note="F#4" style=""></div>
                <div class="key" data-key="67" data-note="G4"></div>
                <div class="key black black2" data-key="68" data-note="G#4" style=""></div>
                <div class="key" data-key="69" data-note="A4"></div>
                <div class="key black black3" data-key="70" data-note="A#4" style=""></div>
                <div class="key" data-key="71" data-note="B4"></div>
                <div class="key" data-key="72" data-note="C5"></div>
                @*<div class="key black black1" data-key="61" data-note="B4"></div>*@
            </div>
        </div>

        <div class="row">
            <ul id="messagesList"></ul>
        </div>

        @*<button id="playkey">Play Key</button>*@
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/piano.js"></script>